/* This is css dark-theme-template
Following we deserve an example for a Onepage-Website. 
For example you can delete unnecessary sections or add some more.
Furthermore you could adept everything in such a way that it fits to your project.
*/

html, body {
	margin: 0px;
	padding: 0px;
	height: 100%;
	text-align: center;
}
section {min-height: 100%;}
a {text-decoration: none;}
li {list-style: none;}

h1, h2, h3, a {
	font-family: "Courier New", Verdana, Helvetica, Arial, sans-serif; 
	font-weight: 500; 
	color: #9f9f9f; 
	text-transform: lowercase; 
}

h3 {
	font-size: 40px; 
	padding-top: 8%;
	margin-bottom: 5px;
	text-transform: lowercase;
}

h4, p{
	font-family: "Courier New", Verdana, Helvetica, Arial, serif; 
	font-weight: 500; 
	color: #9f9f9f;
	text-transform: lowercase;
}

hr{
	width: 200px; 
	height: 3px;
	background-color: #9f9f9f;
	border: 0px;
	margin-top: 0px;
	margin-right: auto;
	margin-bottom: 40px;
	margin-left: auto;
}
#logo, li, img, .button, .fa-bars {
	/*Browsersupport*/
	transition: all 300ms;
	-webkit-transition: all 300ms; 
	-moz-transition: all 300ms;
	-o-transition: all 300ms;
}

.fa-bars { display: none; }

/* HEADER *****************/
header {
	width: 100%;
	height: 55px;
	position: fixed;
	top: 0px;
	left: 0px;
	background-color: #3e3e3e; 
	box-shadow: 0 1px 3px rgb(0, 0, 0, 0.1); 
	z-index: 1; 
}

#logo {
	width: 90px;
	float: left;
	margin: 5.5px 0px 0px 30px;
}	

#logo:hover {
	opacity: 0.5;
}

#logo img {
	width: 80%;
}

header nav {
	float: right;
	margin: 4px 30px 0px 0px;
}

header nav ul li {
	float: left;
	margin-left: 25px;
}

header nav ul li a {
	font-size: 16px;
}

header nav ul li:hover {
	padding-top: 5px;
}

/* HOME ****************/
#home {
	/*background: url(../images/landingpage.jpg); /*add your own Landingpage image*/
	background-color: #000000;
	background-position: center center;
	background-size: cover;
	background-attachment: fixed;
}

#home h1 {
	margin: 240px auto 0 auto;
	font-size: 60px;
	color: #9f9f9f; 
	font-weight: 500;
}

#home h2 {
	margin: 0 auto 0 auto;
	font-size: 25px;
	color: #9f9f9f; 
}

#home img {
	width: 32px;
	margin-top: 150px;
	opacity: 0.7;
}

#home img:hover {
	opacity: 1;
}

#home .fa-angle-down {
	font-size: 80px;
	margin-top: 150px;
	opacity: 0.7;
	color: #9f9f9f;
}

#home .fa-angle-down:hover {
	opacity: 1;
}

/* ABOUT **************/
#about {
	background-color: #000000;
}

#about h3 {
	margin: 1px;
}

#about img{
	width: 200px;
}

#about img:hover{
	transform: scale(1.1);
	-webkit-transform: scale(1.1);
	-moz-transform: scale(1.1);
	-o-transform: scale(1.1);
}

#about h4{
	font-size: 20px;
	font-weight: 550;
}

#about p {
	width: 80%; 
	margin: 0 auto 0 auto;
}

/* WORK ***************/
#work {
	background-color: #000000; 
}

#work h3 {
	margin: 1px;
}

#projects {
	width: 900px;
	margin: 0 auto 0 auto;
}

#projects ul {
	padding: 0px;
}

#projects ul li {
	width: 33,3%; 
	float: left;
	margin-bottom: 15px;
	margin-left: 20px;
}

#projects img {
	width: 271px; 
	height: 170px;
	border-radius: 5px; 
}

#projects img:hover{
	transform: scale(1.1);
	-webkit-transform: scale(1.1);
	-moz-transform: scale(1.1);
	-o-transform: scale(1.1);
	box-shadow: 0px 5px 5px rgb(0, 0, 0, 0.1); 
}

/* CONTACT ****************/
#contact {
	background-color: #000000;
}

#contact h3 {
	margin:0px;
}

form input, textarea{
	background-color: #3e3e3e;
	color: #9f9f9f;
	font-family: "Courier New";
	font-size: 15px;
	margin-bottom: 10px;
	border-radius: 3px;
	border: 1px solid;
	border-color: #707274;
	outline-color: #000000;
	text-transform: lowercase;
}

form input:first-child{
	/*Sets the E-Mail element*/
	margin-top: 10px;
}

form input {
	width: 550px;
	height: 25px; 
}

form textarea {
	width: 550px; 
	height: 180px; 
	resize: none; 
}

.input_text {
	color: #707274;
	padding-left: 10px;
}

::-webkit-input-placeholder {color: #999999;} 
::-moz-placeholder {color: #999999;} 
::-ms-input-placeholder {color: #999999;} 
::-moz-placeholder {color: #999999;} 

.button{
	background-color: #3e3e3e;
	color: #9f9f9f;
	width: 550px;
	height: 40px;
}

.button:hover {
	background-color: #9f9f9f;
	color: #3e3e3e;
}

/* FOOTER ************/
footer {
	width: 100%;
	height: 50px;
	background-color: #3e3e3e;
}

footer p {
	margin: 0px;
	font-size: 10px;
	color: #9f9f9f;
	padding-top: 20px;
}

/* MEDIA ************/

/* TABLET **/
@media screen and (max-width: 1024px) {
	header {
		height: auto;
	}

	#logo {
		width: 50px; 
		margin-top: 5px;
	}

	header nav {
		margin-top: -5px;
	}

	header nav ul li {
		font-size: 13px;
	}

	#home h1 {
		font-size: 30px;
		margin-top: 200px;	
	}

	#home h2 {
		font-size: 10px;
	}

	h3 {
		padding-top: 12%
		margin: 0px; /*Removes distance to the other section*/
	}

	#about p {
		width: 80%;
	}

	#projects {
		width: auto;
	}

	#projects ul li {
		width: 100%;
		float: none;
	}

	#projects ul li:last-child {
		padding-bottom: 20%;
	}

	#projects img {
		width: 55%;
		height: auto;
	}

	form input, form textarea {
		width: 60%;
	}

	.button {
		width: 62%;
	}
}

/* MOBILE **/
@media screen and (max-width: 480px) {
	#logo {
		width: 50px;
		margin-left: 30px;
	}

	header nav {
		margin: 0px;
		float: none;
	}

	.fa-bars {
		font-size: 17px;
		display: inline-block;
		width: 100%;
		cursor: pointer;
		text-align: right;
		float: right;
		margin: -26px 30px 0px 0px;
	}

	.fa-bars:hover {
		opacity: 0.5;
	}
	
	header nav ul {
		height: 0px;
		overflow: hidden;
		margin: 0px;
		padding: 0px;
		width: 100%;
	}

	header nav ul.open {
		height: auto;
	}
	
	header nav ul li {
		width: 100%;
		padding: 5px 0px;
		margin: 0px;
		font-size: 11px;
		border-top: 1px solid #707274;
		float: left;
	}

	header nav ul li:hover {
		background-color: #FFFFFF;
	}

	#home h1 {
		font-size: 60px;
		margin-top: 200px;
	}

	#home h2 {
		width: 70%
		height: auto;
	}

	#projects img {
		width: 70%;
		height: auto;
	}

	form input, form textarea {
		width: 70%;
	}

	.button {
		width: 72%;
	}
}
