/* This is css griddy-template
Following we deserve an example for a Onepage-Website.
For example you can delete unnecessary sections or add some more.
Furthermore you could adept everything in such a way that it fits to your project.
*/
body {
	background-color: #2d3436;
	font-family: 'Open Sans', sans-serif;
}

h1, h2, h3, h4{
	font-family: 'Roboto', sans-serif;
}

article {
	background-color: #BEB9D7;
	border-radius: 1em;
	padding-left: 1em;
}

header {
	text-align: center;
	background-color: hsla(0,0%,100%,0.8);
	border-radius: 1em;
}

aside {
	background-color: #A194BC;
	border-radius: 1em;
}

footer {
	background-color: hsla(0,0%,100%,0.8);
	border-radius: 1em;
	text-align:center;
}

a:link {
  color: black;
  background-color: transparent;
  text-decoration: none;
}
a:visited {
  color: purple;
  background-color: transparent;
  text-decoration: none;
}
a:hover {
  color: #66cdaaff;
  background-color: hsla(0,0%,100%,0.8);
	border-radius: 1em;
  text-decoration: none;
}
a:active {
  color: #c1e6d2ff;
  background-color: hsla(0,0%,100%,0.8);
	border-radius: 1em;
  text-decoration: none;
}
