/* This is css griddy-template
Following we provide an example for a Onepage-Website. 
For example you can delete unnecessary sections or add some more.
Furthermore you could adept everything in such a way that it fits to your project.
*/

* {
	box-sizing: border-box;
}

body {font-family: Cambria;}
section {min-height: 100%;}
a {text-decoration: none;}
li {list-style: none;}

/* HEADER *****************/
header {
	background-color: #000000;
	padding: 20px;
	text-align: center;
	font-size: 20px;
	color: #FFFFFF;
}

/* SECTION *****************/
nav {
	float: left;
	width: 30%;
	background-color: #FFFFFF;
	padding: 20px;
}

nav ul {
	list-style-type: none;
	padding: 0px;
}

nav ul li {
	font-size: 20px;
	color: #000000;
}


article {
	float: left;
	padding: 20px;
	width: 70%;
	background-color: #707274;
}

section:after {
	content: "";
	display: table;
	clear: both;
}

/* FOOTER *****************/

footer {
	background-color: #757b7c;
	padding: 10px;
	text-align: center;
	color: #FFFFFF;
}

/* MEDIA ************/
@media (max-width: 600px) {
	nav, article {
		width: 100%;
		height: auto;
	}
}

