/* This is css happy-color-template
Following we provide an example for a Onepage-Website.
For example you can delete unnecessary sections or add some more.
Furthermore you could adapt everything in such a way that it fits to your project.
*/

html, body {
	margin: 0px;
	padding: 0px;
	height: 100%;
	text-align: center;
	font-family: 'Pacifico', cursive;
}
section {min-height: 100%;}
a {text-decoration: none;}
li {list-style: none;}

h1, h2, h3, h4, a {
	font-family: 'Fredericka the Great', cursive;
}

h3 {
	font-size: 55px;
	padding-top: 8%;
	margin-bottom: 5px;
	font-weight: bold;
}

p {
	font-family: 'Amatic SC', cursive;
	font-weight: 500;
	color: black;
	letter-spacing: 0.1em;
}

hr {
	width: 300px;
	height: 3px;
	background-color: #1500ff;
	border: 0px;
	margin-top: 0px;
	margin-right: auto;
	margin-bottom: 40px;
	margin-left: auto;
}

#logo, li, img, .button, .fa-bars {
	/*Browsersupport*/
	transition: all 300ms;
	-webkit-transition: all 300ms;
	-moz-transition: all 300ms;
	-o-transition: all 300ms;
}

.fa-bars { display: none; }

/* HEADER *****************/
header {
	width: 100%;
	height: 55px;
	position: fixed;
	top: 0px;
	left: 0px;
	background-color: #e6e6e67b;
	box-shadow: 0 1px 3px rgb(0, 0, 0, 0.1);
	z-index: 1;
}

#logo {
	width: 110px;
	float: left;
	margin: 6.5px 0px 0px 30px;
}

#logo:hover {
	opacity: 0.5;
	transform: rotate(360deg);
}

#logo img {
	width: 80%;
}

header nav {
	float: right;
	margin: 4px 30px 10px 0px;
}

header nav ul li {
	float: left;
	margin-top: -17px;
	margin-left: 30px;
	font-size: 40px;
	font-family: 'Amatic SC', cursive;
	color: #eaedee;
	font-weight: bold;
	letter-spacing: 0.01em;
}

header nav ul li a {
	font-size: 16px;
}

header nav ul li:hover {
	padding-top: 5px;
	color: #636C6E;
}

/* HOME ****************/
#home {
	/*background: url(../img/landingpage.jpg);*/ /*add your own Landingpage image*/
	background-color: #FF9A00;
	background-position: center center;
	background-size: cover;
	background-attachment: fixed;
}

#home h1 {
	margin: 240px auto 0 auto;
	font-size: 70px;
	font-weight: 1000;
	color: #BD2C00;
}

#home h2 {
	margin: 0 auto 0 auto;
	font-size: 40px;
	font-weight: 1000;
	color: #FF4C15;
}

#home img {
	width: 32px;
	margin-top: 150px;
	opacity: 0.7;
}

#home img:hover {
	opacity: 1;
}

#home .fa-angle-down {
	font-size: 80px;
	margin-top: 150px;
	opacity: 0.7;
	color: white;
}

#home .fa-angle-down:hover {
	opacity: 1;
	color: #BD2C00;
	transform: rotate(360deg);
}

/* ABOUT **************/
#about {
	background-color: #FF1FDA;
}

#about hr {
	background-color: #631B50;
}

#about h3 {
	margin: 1px;
	color: #8B348C;
}

#about img{
	width: 250px;
}

#about img:hover{
	transform: scale(1.1);
	-webkit-transform: scale(1.1);
	-moz-transform: scale(1.1);
	-o-transform: scale(1.1);
	transform: rotateY(180deg);
}

#about h4 {
	font-size: 30px;
	font-weight: 600;
	color: #950B4F;;
}

#about p {
	width: 80%;
	font-size: 120%;
	margin: 0 auto 0 auto;
	color: #FFB3F7;
	font-weight: 600;
}

/* WORK ***************/
#work {
	background-color: #00D9FF;
}

#work hr {
	background-color: #B6F7FF;
}

#work h3 {
	margin: 1px;
	color: #656565;
}

#projects {
	width: 900px;
	margin: 0 auto 0 auto;
	padding-bottom: 1px;
}

#projects ul {
	padding: 0px;
}

#projects ul li {
	width: 33,3%;
	float: left;
	margin-bottom: 15px;
	margin-left: 20px;
	padding: 1px;
}

#projects img {
	width: 240px;
	height: 120px;
	margin-left: 25px;
	border-radius: 5px;
	padding: 1px;
}

#projects img:hover{
	transform: scale(1.1);
	-webkit-transform: scale(1.1);
	-moz-transform: scale(1.1);
	-o-transform: scale(1.1);
	box-shadow: 0px 5px 5px rgb(0, 0, 0, 0.1);
	transform: rotate(360deg);
}

/* CONTACT ****************/
#contact {
	background-color: #00EE3C;
}

#contact hr {
	background-color: #53c00a;
}

#contact h3 {
	margin: 1px;
	color: #467428;
}

form input, textarea{
	background-color: #FFFFFF;
	font-family: 'Pacifico', cursive;
	font-weight: normal;
	color: #74d235;
	font-size: 17px;
	margin-bottom: 10px;
	border-radius: 3px;
	border: 1px solid;
	border-color: #74d235;
	outline-color: #000000;
}

form input:first-child{
	/* Sets the E-Mail element*/
	margin-top: 10px;
}

form input {
	width: 550px;
	height: 25px;
}

form textarea {
	width: 550px;
	height: 180px;
	resize: none;
}

.input_text {
	color: #0f450f;
	padding-left: 10px;
}

::-webkit-input-placeholder {color: #74d235;}
::-moz-placeholder {color: #74d235;}
::-ms-input-placeholder {color: #74d235;}
::-moz-placeholder {color: #74d235;}

.button{
	background-color: #53c00a;
	color: #FFFFFF;
	width: 560px;
	height: 40px;
	font-size: 20px;
	font-weight: lighter;
}

.button:hover {
	background-color: #FFFFFF;
	color: #74d235;
}

/* FOOTER ************/
footer {
	width: 100%;
	height: 50px;
	background-color: #467428;
}

footer p {
	margin: 0px;
	font-size: 15px;
	font-weight: 600;
	color: #eaedee;
	padding-top: 20px;
}

/* MEDIA ************/

/* TABLET **/
@media screen and (max-width: 1024px) {
	header {
		height: auto;
	}

	hr {
		width: 30%;
	}

	#logo {
		width: 10%;
		margin-top: 5px;
	}

	header nav {
		margin-top: 0%;
	}

	header nav ul li {
		font-size: 100%;
	}

	#home h1 {
		font-size: 370%;
		margin-top: 200px;
	}

	#home h2 {
		font-size: 200%;
	}

	h3 {
		padding-top: 15%;
		margin: 0px; /* Clears distance to the other section*/
		font-size: 200%;
	}

	#about img {
		width: 25%;
	}

	#about h4 {
		font-size: 170%;
	}


	#about p {
		width: 80%;
		font-size: 120%;
	}

	#projects {
		width: 50%;
		margin-left: 20%;
	}

	#projects ul li {
		width: 100%;
		float: none;
	}

	#projects ul li:last-child {
		padding-bottom: 5%;
	}

	#projects img {
		width: 55%;
		height: auto;
	}

	form input, form textarea {
		width: 60%;
	}

	.button {
		width: 62%;
	}
}

/* MOBILE **/
@media screen and (max-width: 480px) {
	#logo {
		width: 50px;
		margin-left: 30px;
	}

	header nav {
		margin: 0px;
		float: none;
	}

	.fa-bars {
		font-size: 17px;
		display: inline-block;
		width: 100%;
		cursor: pointer;
		text-align: right;
		float: right;
		margin: -26px 30px 0px 0px;
	}

	.fa-bars:hover {
		opacity: 0.5;
	}

	header nav ul {
		height: 0px;
		overflow: hidden;
		margin: 0px;
		padding: 0px;
		width: 100%;
	}

	header nav ul.open {
		height: auto;
	}

	header nav ul li {
		width: 100%;
		padding: 5px 0px;
		margin: 0px;
		font-size: 11px;
		border-top: 1px solid #707274;
		float: left;
	}

	header nav ul li:hover {
		background-color: #FFFFFF;
	}

	#home h1 {
		font-size: 60px;
		margin-top: 200px;
	}

	#home h2 {
		width: 70%
		height: auto;
	}

	#projects img {
		width: 70%;
		height: auto;
	}

	form input, form textarea {
		width: 70%;
	}

	.button {
		width: 72%;
	}
}
